/* Your styles go here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header h1{
    text-align: center;
}

.navbar{
    text-align: center;
    padding: 5px;
}

nav ul{
    display: flex;
    flex-direction: column;
}

nav a{
    text-decoration: none;
}

.img1{
    text-align: center;
    font-style: italic;
    color: dimgray;
    display: block;
    margin: auto;
    margin-top: 10px;
    max-width: 60%;
}

.img2 img{
max-width: 180px;

}

.images{
    display: flex;
    justify-content: space-around;
}

header, footer{
    background-color: rgb(200, 200, 200);
}

footer{
    text-align: center;
    padding: 20px;
}

.content{
    padding: 5px;
}

@media (min-width: 1024px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
}