/* Your styles go here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header h1{
    text-align: center;
}

.navbar{
    text-align: center;
    padding: 5px;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

nav li{
    border: 1px rgb(177, 177, 177) solid;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
    
}

nav a:hover{
    color: rgb(65, 65, 65);
}

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    color: dimgray;
}

.images{
    display: flex;
    justify-content: space-around;
}



.LASTimg{
    text-align: center;
}

header, footer{
    background-color: rgb(200, 200, 200);
}

footer{
    text-align: center;
    padding: 20px;
}

section{
    padding: 5px;
}

@media (min-width: 1024px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .content3{
        text-align:left;
        padding: 1rem;
        margin-left: 10px;
    }

    .content1{
        display: grid;
        grid-template-columns: 33% 33% 33%
    }

    #firstpara{
        grid-column: 1 / 3;
        padding: 1rem;
    }

    #secondpara{
        grid-column-start:1;
        grid-column-end: 4;
        padding: 1rem;
    }
    
    .img1{
        display: grid;
        grid-column-start: 3;
    }

    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }


    .content2{
        display: grid;
        grid-template: 50% 50% / 50% 50%
        
    }
    

    .cont2firstdiv{
        grid-area: 1 / 1 / 2 / 2;
    }

    .cont2secdiv{
        grid-area: 2 / 2 / 3 / 3;
    }

    
    

    #img2, #img3{
        
        padding: 1rem;
        margin-bottom: 3rem;
        width: 400px;
    }
    
    
        
        
    
}